body {
    text-align:center;
    font-family:sans-serif;
    background:#155989;
    color:white;
    margin:0;
    padding:0;
}

h1 {
    font-size:4em;
}

a {
    color:inherit;
}

a:hover {
    text-decoration:none;
}

#center-div {
    display:inline-block;
    width:90%;
    max-width:500px;
    min-width:200px;
}

#game-canvas {
    background:#004c4c;
}